In [1]:
import pandas as pd
import os
import shutil

In [2]:
excleFilePath = r"i:\OneDrive\temp\forVK\fileSortingPrj\data\Photos_Consolidated_VK.xlsx"

In [3]:
sheetName = r"Consolidated"

In [4]:
dir_phot_path = r"e:/temp/photos_consolidated02/"

In [15]:
new_excelFilePath = r"i:/OneDrive/temp/forVK/fileSortingPrj/data/Photos_Consolidated_processed.xlsx"
not_exist_excelFilePath = r"i:/OneDrive/temp/forVK/fileSortingPrj/data/Photos_Consolidated_nonExistent.xlsx"

In [6]:
df = pd.read_excel(excleFilePath, sheet_name = sheetName)

In [7]:
df.head()

,ID,Outlet,Photo file name (CT_Number):,Photo caption city:,Photo caption state (other than Florida; in AP style):,"Photo caption date (just MM/DD; if absent, put NA):",News story date (just MM/DD):,URL of the news story it's taken from:,Notes (optional),Unnamed: 9,Unnamed: 10
0,1,Citizen Times,CT_1,Hampton,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
1,2,Citizen Times,CT_2,Hampton,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
2,3,Citizen Times,CT_3,Carter County,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
3,4,Citizen Times,CT_4,Carter County,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
4,5,Citizen Times,CT_5,Hampton,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT

In [8]:
df.tail(50)

,ID,Outlet,Photo file name (CT_Number):,Photo caption city:,Photo caption state (other than Florida; in AP style):,"Photo caption date (just MM/DD; if absent, put NA):",News story date (just MM/DD):,URL of the news story it's taken from:,Notes (optional),Unnamed: 9,Unnamed: 10
4774,4775,Getty Images,getty-images-676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4775,4776,Getty Images,getty-images-677,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4776,4777,Getty Images,getty-images-678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4777,4778,Getty Images,getty-images-679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4778,4779,Getty Images,getty-images-680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4779,4780,Getty Images,getty-images-681,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4780,4781,Getty Images,getty-images-682,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4781,4782,Getty Images,getty-images-683,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4782,4783,Getty Images,getty-images-684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4783,4784,Getty Images,getty-images-685,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4784,4785,Getty Images,getty-images-686,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4785,4786,Getty Images,getty-images-687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4786,4787,Getty Images,getty-images-688,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4787,4788,Getty Images,getty-images-689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4788,4789,Getty Images,getty-images-690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4789,4790,Getty Images,getty-images-691,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4790,4791,Getty Images,getty-images-692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4791,4792,Getty Images,getty-images-693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4792,4793,Getty Images,getty-images-694,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4793,4794,Getty Images,getty-images-695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4794,4795,Getty Images,getty-images-696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4795,4796,Getty Images,getty-images-697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4796,4797,Getty Images,getty-images-698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4797,4798,Getty Images,getty-images-699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4798,4799,Getty Images,getty-images-700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4799,4800,Getty Images,getty-images-701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4800,4801,Getty Images,getty-images-702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4801,4802,Getty Images,getty-images-703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4802,4803,Getty Images,getty-images-704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4803,4804,Getty Images,getty-images-705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4804,4805,Getty Images,getty-images-706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4805,4806,Getty Images,getty-images-707,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4806,4807,Getty Images,getty-images-708,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4807,4808,Getty Images,getty-images-709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4808,4809,Getty Images,getty-images-710,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4809,4810,Getty Images,getty-images-711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4810,4811,Getty Images,getty-images-712,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4811,4812,Getty Images,getty-images-713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4812,4813,Getty Images,getty-images-714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4813,4814,Getty Images,getty-images-715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4814,4815,Getty Images,getty-images-716,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4815,4816,Getty Images,getty-images-717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4816,4817,Getty Images,getty-images-718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4817,4818,Getty Images,getty-images-719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4818,4819,Getty Images,getty-images-720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4819,4820,Getty Images,getty-images-721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4820,4821,Getty Images,getty-images-722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4821,4822,Getty Images,getty-images-723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4822,4823,Watauga Democrat,WD_6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4823,4824,Citizen Times,CT_2671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4824 entries, 0 to 4823
Data columns (total 11 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   ID                                                      4824 non-null   int64
 1   Outlet                                                  4824 non-null   object
 2   Photo file name (CT_Number):                            4824 non-null   object
 3   Photo caption city:                                     3095 non-null   object
 4   Photo caption state (other than Florida; in AP style):  3084 non-null   object
 5   Photo caption date (just MM/DD; if absent, put NA):     2341 non-null   object
 6   News story date (just MM/DD):                           3385 non-null   object
 7   URL of the news story it's taken from:                  3385 non-null   object
 8   Notes (optional)                                        659 non-null    object
 9   Unnamed: 9                                              3 non-null      object
 10  Unnamed: 10                                             3 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 414.7+ KB

In [10]:
df["Photo file name (CT_Number):"] = df["Photo file name (CT_Number):"].astype(str)

In [11]:
df.head(50)

,ID,Outlet,Photo file name (CT_Number):,Photo caption city:,Photo caption state (other than Florida; in AP style):,"Photo caption date (just MM/DD; if absent, put NA):",News story date (just MM/DD):,URL of the news story it's taken from:,Notes (optional),Unnamed: 9,Unnamed: 10
0,1,Citizen Times,CT_1,Hampton,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
1,2,Citizen Times,CT_2,Hampton,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
2,3,Citizen Times,CT_3,Carter County,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
3,4,Citizen Times,CT_4,Carter County,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
4,5,Citizen Times,CT_5,Hampton,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
5,6,Citizen Times,CT_6,Hampton,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
6,7,Citizen Times,CT_7,Hampton,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
7,8,Citizen Times,CT_8,Hampton,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
8,9,Citizen Times,CT_9,Carter County,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
9,10,Citizen Times,CT_10,Hampton,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
10,11,Citizen Times,CT_11,Carter County,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
11,12,Citizen Times,CT_12,Carter County,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
12,13,Citizen Times,CT_13,Hampton,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
13,14,Citizen Times,CT_14,Carter County,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
14,15,Citizen Times,CT_15,Hampton,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
15,16,Citizen Times,CT_16,Hampton,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
16,17,Citizen Times,CT_17,Hampton,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
17,18,Citizen Times,CT_18,Hampton,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
18,19,Citizen Times,CT_19,Hampton,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
19,20,Citizen Times,CT_20,Hampton,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
20,21,Citizen Times,CT_21,Hampton,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
21,22,Citizen Times,CT_22,Hampton,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
22,23,Citizen Times,CT_23,Hampton,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
23,24,Citizen Times,CT_24,Hampton,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
24,25,Citizen Times,CT_25,Hampton,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
25,26,Citizen Times,CT_26,Hampton,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
26,27,Citizen Times,CT_27,Hampton,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
27,28,Citizen Times,CT_28,Hampton,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
28,29,Citizen Times,CT_29,Hampton,Tenn.,10/3,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
29,30,Citizen Times,CT_30,Hampton,Tenn.,10/2,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
30,31,Citizen Times,CT_31,Hampton,Tenn.,10/2,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
31,32,Citizen Times,CT_32,Hampton,Tenn.,10/2,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
32,33,Citizen Times,CT_33,Hampton,Tenn.,10/2,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
33,34,Citizen Times,CT_34,Hampton,Tenn.,10/2,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
34,35,Citizen Times,CT_35,Hampton,Tenn.,10/2,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
35,36,Citizen Times,CT_36,Hampton,Tenn.,10/2,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
36,37,Citizen Times,CT_37,Hampton,Tenn.,10/2,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
37,38,Citizen Times,CT_38,Hampton,Tenn.,10/2,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
38,39,Citizen Times,CT_39,Del Rio,Tenn.,10/1,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
39,40,Citizen Times,CT_40,Erwin,Tenn.,10/1,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
40,41,Citizen Times,CT_41,Newport/Del Rio (Dixie Highway),Tenn.,10/1,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
41,42,Citizen Times,CT_42,Erwin,Tenn.,10/1,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
42,43,Citizen Times,CT_43,Erwin,Tenn.,10/1,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
43,44,Citizen Times,CT_44,Del Rio,Tenn.,10/1,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
44,45,Citizen Times,CT_45,Erwin,Tenn.,10/1,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
45,46,Citizen Times,CT_46,Del Rio,Tenn.,10/1,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
46,47,Citizen Times,CT_47,Erwin,Tenn.,10/1,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
47,48,Citizen Times,CT_48,Del Rio,Tenn.,10/1,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
48,49,Citizen Times,CT_49,Erwin,Tenn.,10/1,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT
49,50,Citizen Times,CT_50,Erwin,Tenn.,10/1,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/envir...,NaN,NaN,NaT

In [12]:
df["file_exist"] = False
for i, row in df.iterrows():
    base = row["Photo file name (CT_Number):"]
    for ext in (".png", ".jpeg", ".jpg", ".PNG", ".JPEG", ".JPG"):
        if os.path.exists(os.path.join(dir_phot_path, base + ext)):
            df.at[i, "file_exist"] = True
            break

In [13]:
df_not_exist = df[df["file_exist"] == False]

In [14]:
df_not_exist.head(300)

,ID,Outlet,Photo file name (CT_Number):,Photo caption city:,Photo caption state (other than Florida; in AP style):,"Photo caption date (just MM/DD; if absent, put NA):",News story date (just MM/DD):,URL of the news story it's taken from:,Notes (optional),Unnamed: 9,Unnamed: 10,file_exist
538,539,Citizen Times,CT_539,Hampton,Tenn.,2024-10-02 00:00:00,2024-10-01 00:00:00,https://www.citizen-times.com/story/news/local...,Maybe a duplicate,NaN,NaT,False
1481,1482,Citizen Times,CT_1482,Asheville,N.C.,NaN,2024-10-07 00:00:00,https://www.citizen-times.com/story/news/local...,NaN,NaN,NaT,False
1515,1516,Citizen Times,CT_1516,Arden,N.C.,NaN,2024-10-07 00:00:00,https://www.citizen-times.com/story/news/local...,NaN,NaN,NaT,False
1694,1695,Citizen Times,CT_1695,N/A/Marshall,N/A/N.C.,2024-09-30 00:00:00,2024-10-07 00:00:00,https://www.citizen-times.com/story/news/local...,NaN,NaN,NaT,False
1837,1838,Citizen Times,CT_1838,Hendersonville,N.C.,2024-09-28 00:00:00,2024-10-07 00:00:00,https://www.citizen-times.com/story/news/local...,NaN,NaN,NaT,False
...,...,...,...,...,...,...,...,...,...,...,...,...
2666,2667,Citizen Times,CT_2667,Cocke County,Tenn.,2024-09-27 00:00:00,2024-09-28 00:00:00,https://www.citizen-times.com/story/weather/20...,NaN,NaN,NaT,False
2667,2668,Citizen Times,CT_2668,Cocke County,Tenn.,2024-09-27 00:00:00,2024-09-28 00:00:00,https://www.citizen-times.com/story/weather/20...,NaN,NaN,NaT,False
2668,2669,Citizen Times,CT_2669,Cocke County,Tenn.,2024-09-27 00:00:00,2024-09-28 00:00:00,https://www.citizen-times.com/story/weather/20...,NaN,NaN,NaT,False
2669,2670,Citizen Times,CT_2670,Cocke County,Tenn.,2024-09-27 00:00:00,2024-09-28 00:00:00,https://www.citizen-times.com/story/weather/20...,NaN,NaN,NaT,False
2705,2706,Associated Press,AP_36,Greene County,Tenn.,9/28,9/29,https://apnews.com/article/hurricane-helene-fl...,NaN,NaN,NaT,False

In [ ]:
df["filename_new"] = df["Photo file name (CT_Number):"].str.replace(r"(\d+)", r"0000\1", regex=True)

In [ ]:
df["filename_new"] = df["filename_new"].str.replace(r"0*(\d{4,})", r"\1", regex=True)

In [ ]:
df["sel_flag"] = "undefined"

In [ ]:
common_idx = df.sample(frac=(490.0 / float(len(df))), random_state=42).index
df.loc[common_idx, "sel_flag"] = "common"

remaining_idx = df.index.difference(common_idx)
shuffled_idx = df.loc[remaining_idx].sample(frac=1.0, random_state=43).index

num_half = len(shuffled_idx)//2
v_idx = shuffled_idx[:num_half]
a_idx = shuffled_idx[num_half:]

df.loc[v_idx, "sel_flag"] = "V"
df.loc[a_idx, "sel_flag"] = "A"

In [ ]:
df.head(50)

In [ ]:
for i, row in df.iterrows():
    base_old = row["Photo file name (CT_Number):"]
    base_new = row["filename_new"]
    for ext in (".png", ".jpeg", ".jpg", ".PNG", ".JPEG", ".JPG"):
        old_path = os.path.join(dir_phot_path, base_old + ext)
        if os.path.exists(old_path):
            new_path = os.path.join(dir_phot_path, base_new + ext)
            os.rename(old_path, new_path)
            break
        else:
            print(f"Missing: {base_old}")

In [ ]:
for i, row in df.iterrows():
    fname = row["filename_new"]

    # try both extensions
    for ext in (".png", ".jpeg", ".jpg", ".PNG", ".JPEG", ".JPG"):
        src = os.path.join(dir_phot_path, fname + ext)
        if os.path.exists(src):
            flag = row["sel_flag"]
            dest_dir = os.path.join(dir_phot_path, flag)

            # create subfolder if it doesnt exist
            os.makedirs(dest_dir, exist_ok=True)

            dest = os.path.join(dest_dir, fname + ext)
            shutil.move(src, dest)
            break
    else:
        print(f"Missing: {fname}")

In [ ]:
df.to_excel(new_excelFilePath, index=False)

In [16]:
df_not_exist.to_excel(not_exist_excelFilePath, index = False)